@font-face {
  font-family: 'Houschka Pro';
  src: url('fonts/HouschkaPro/HouschkaPro-Bold.eot');
  src: local('Houschka Pro Bold'), local('HouschkaPro-Bold'),
      url('fonts/HouschkaPro/HouschkaPro-Bold.eot?#iefix') format('embedded-opentype'),
      url('fonts/HouschkaPro/HouschkaPro-Bold.woff2') format('woff2'),
      url('fonts/HouschkaPro/HouschkaPro-Bold.woff') format('woff'),
      url('fonts/HouschkaPro/HouschkaPro-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Houschka Pro';
  src: url('fonts/HouschkaPro/HouschkaPro-ExtraBoldItalic.eot');
  src: local('Houschka Pro ExtraBold Italic'), local('HouschkaPro-ExtraBoldItalic'),
      url('fonts/HouschkaPro/HouschkaPro-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
      url('fonts/HouschkaPro/HouschkaPro-ExtraBoldItalic.woff2') format('woff2'),
      url('fonts/HouschkaPro/HouschkaPro-ExtraBoldItalic.woff') format('woff'),
      url('fonts/HouschkaPro/HouschkaPro-ExtraBoldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Houschka Pro';
  src: url('fonts/HouschkaPro/HouschkaPro-BoldItalic.eot');
  src: local('Houschka Pro Bold Italic'), local('HouschkaPro-BoldItalic'),
      url('fonts/HouschkaPro/HouschkaPro-BoldItalic.eot?#iefix') format('embedded-opentype'),
      url('fonts/HouschkaPro/HouschkaPro-BoldItalic.woff2') format('woff2'),
      url('fonts/HouschkaPro/HouschkaPro-BoldItalic.woff') format('woff'),
      url('fonts/HouschkaPro/HouschkaPro-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Houschka Pro';
  src: url('fonts/HouschkaPro/HouschkaPro-ThinItalic.eot');
  src: local('Houschka Pro Thin Italic'), local('HouschkaPro-ThinItalic'),
      url('fonts/HouschkaPro/HouschkaPro-ThinItalic.eot?#iefix') format('embedded-opentype'),
      url('fonts/HouschkaPro/HouschkaPro-ThinItalic.woff2') format('woff2'),
      url('fonts/HouschkaPro/HouschkaPro-ThinItalic.woff') format('woff'),
      url('fonts/HouschkaPro/HouschkaPro-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Houschka Pro';
  src: url('fonts/HouschkaPro/HouschkaPro-Light.eot');
  src: local('Houschka Pro Light'), local('HouschkaPro-Light'),
      url('fonts/HouschkaPro/HouschkaPro-Light.eot?#iefix') format('embedded-opentype'),
      url('fonts/HouschkaPro/HouschkaPro-Light.woff2') format('woff2'),
      url('fonts/HouschkaPro/HouschkaPro-Light.woff') format('woff'),
      url('fonts/HouschkaPro/HouschkaPro-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Houschka Pro';
  src: url('fonts/HouschkaPro/HouschkaPro-LightItalic.eot');
  src: local('Houschka Pro Light Italic'), local('HouschkaPro-LightItalic'),
      url('fonts/HouschkaPro/HouschkaPro-LightItalic.eot?#iefix') format('embedded-opentype'),
      url('fonts/HouschkaPro/HouschkaPro-LightItalic.woff2') format('woff2'),
      url('fonts/HouschkaPro/HouschkaPro-LightItalic.woff') format('woff'),
      url('fonts/HouschkaPro/HouschkaPro-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Houschka Pro';
  src: url('fonts/HouschkaPro/HouschkaPro-DemiBoldItalic.eot');
  src: local('Houschka Pro DemiBold Italic'), local('HouschkaPro-DemiBoldItalic'),
      url('fonts/HouschkaPro/HouschkaPro-DemiBoldItalic.eot?#iefix') format('embedded-opentype'),
      url('fonts/HouschkaPro/HouschkaPro-DemiBoldItalic.woff2') format('woff2'),
      url('fonts/HouschkaPro/HouschkaPro-DemiBoldItalic.woff') format('woff'),
      url('fonts/HouschkaPro/HouschkaPro-DemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Houschka Pro';
  src: url('fonts/HouschkaPro/HouschkaPro-DemiBold.eot');
  src: local('Houschka Pro DemiBold'), local('HouschkaPro-DemiBold'),
      url('fonts/HouschkaPro/HouschkaPro-DemiBold.eot?#iefix') format('embedded-opentype'),
      url('fonts/HouschkaPro/HouschkaPro-DemiBold.woff2') format('woff2'),
      url('fonts/HouschkaPro/HouschkaPro-DemiBold.woff') format('woff'),
      url('fonts/HouschkaPro/HouschkaPro-DemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Houschka Pro';
  src: url('fonts/HouschkaPro/HouschkaPro-Thin.eot');
  src: local('Houschka Pro Thin'), local('HouschkaPro-Thin'),
      url('fonts/HouschkaPro/HouschkaPro-Thin.eot?#iefix') format('embedded-opentype'),
      url('fonts/HouschkaPro/HouschkaPro-Thin.woff2') format('woff2'),
      url('fonts/HouschkaPro/HouschkaPro-Thin.woff') format('woff'),
      url('fonts/HouschkaPro/HouschkaPro-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Houschka Pro';
  src: url('fonts/HouschkaPro/HouschkaPro-ExtraBold.eot');
  src: local('Houschka Pro Extra Bold'), local('HouschkaPro-ExtraBold'),
      url('fonts/HouschkaPro/HouschkaPro-ExtraBold.eot?#iefix') format('embedded-opentype'),
      url('fonts/HouschkaPro/HouschkaPro-ExtraBold.woff2') format('woff2'),
      url('fonts/HouschkaPro/HouschkaPro-ExtraBold.woff') format('woff'),
      url('fonts/HouschkaPro/HouschkaPro-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Houschka Pro';
  src: url('fonts/HouschkaPro/HouschkaPro-MediumItalic.eot');
  src: local('Houschka Pro Medium Italic'), local('HouschkaPro-MediumItalic'),
      url('fonts/HouschkaPro/HouschkaPro-MediumItalic.eot?#iefix') format('embedded-opentype'),
      url('fonts/HouschkaPro/HouschkaPro-MediumItalic.woff2') format('woff2'),
      url('fonts/HouschkaPro/HouschkaPro-MediumItalic.woff') format('woff'),
      url('fonts/HouschkaPro/HouschkaPro-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Houschka Pro';
  src: url('fonts/HouschkaPro/HouschkaPro-Medium.eot');
  src: local('Houschka Pro Medium'), local('HouschkaPro-Medium'),
      url('fonts/HouschkaPro/HouschkaPro-Medium.eot?#iefix') format('embedded-opentype'),
      url('fonts/HouschkaPro/HouschkaPro-Medium.woff2') format('woff2'),
      url('fonts/HouschkaPro/HouschkaPro-Medium.woff') format('woff'),
      url('fonts/HouschkaPro/HouschkaPro-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Futura PT';
  src: url('fonts/FuturaPT/FuturaPT-Demi.eot');
  src: local('Futura PT Demi'), local('FuturaPT-Demi'),
      url('fonts/FuturaPT/FuturaPT-Demi.eot?#iefix') format('embedded-opentype'),
      url('fonts/FuturaPT/FuturaPT-Demi.woff2') format('woff2'),
      url('fonts/FuturaPT/FuturaPT-Demi.woff') format('woff'),
      url('fonts/FuturaPT/FuturaPT-Demi.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Futura PT';
  src: url('fonts/FuturaPT/FuturaPT-Heavy.eot');
  src: local('Futura PT Heavy'), local('Futura-PT-Heavy'),
      url('fonts/FuturaPT/FuturaPT-Heavy.woff2') format('woff2'),
      url('fonts/FuturaPT/FuturaPT-Heavy.woff') format('woff'),
      url('fonts/FuturaPT/FuturaPT-Heavy.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
